<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>标题</title>
</head>
<style type="text/css">
    body{
        color:#efd;
        background:#bbbbbb;
        padding:12px 5em;
        margin:7px;
    }
    h1{
        padding:2em;
        background: #675;
    }
    h2{
        color:#85F2F2;
        border-top:1px dotted #fff;
    }
    p{
        margin:1em 0;
    }
</style>
<body>
    <h1>我的博文</h1>
    <h3>这是简洁的博文</h3>
{% block content %}
{% endblock %}
</body>
</html>